<%= simple_form_for @trip do |f| %>
  <%= f.input  :location %>
  <%= f.input  :trip_length, collection: 1..8 %>
  <%= f.input  :boat_type  %>
  <%= f.input  :price %>
  <%= f.input  :passengers, collection: 1..10 %>
  <p>Client Information</p>
    <%= f.simple_fields_for :client do |c| %>
      <%= c.input :name %>
      <%= c.input :email%>
      <%= c.input :phone_number %>
    <% end %>
  <%= f.button :submit %>
<% end %>

