<%= simple_form_for @trip do |f| %>
  <%= f.input   :date, as: :date  %>
  <%= f.input  :location %>
  
  <%= f.input  :trip_length, collection: 1..8 %>

  <%= f.input  :price %>
  <%= f.input  :passengers, collection: 1..10 %>

  <%= f.input :boat, collection: User::BOAT, input_html: { multiple: false } %>
  
  <p>Client Information</p>
 
    <%= f.simple_fields_for :client do |c| %> 
      <%= c.input :name %>
      <%= c.input :email %>
      <%= c.input :phone_number %>
    <% end %>
  <%= f.button :submit %>
<% end %>

