 
<%# 
<----- TODO  ---->

- Add button to mark trip as complete, remove from current trips and add to completed trips
-- Use AJAX for above


  %>

<div id="calender-container">
  <div id="calendar"></div>
</div>


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Location</th>
      <th>Boat</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
  <% @trips.each do |trip|%> 
    <tr>
      <td id="tripDate"><%= "#{trip.date}" %></td>
      <td id="tripLocation"><%= "#{trip.location}" %></td>
      <td id="tripBoatName"><%= "#{trip.boat.name}" %></td>
      <td id="editBoatButton"><%= link_to 'Edit', edit_trip_path(trip), class: "btn btn-primary" %>
      </td>
      <td id="deleteBoatButton"><%= link_to "Delete", trip_path(trip), class: "btn btn-primary", data: {:confirm => "Are you sure?"}, method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

