<%# Add links to show, edit, and delete each trip %>

<%# Add calender that updates as new entries are made %>




<div class="container">
  <div class="row">
    <h3>Current Trips</h3>
    <div>
      
    <%= month_calendar events: @trips do |date, trips| %>
      <%= date %>

      <% trips.each do |trip| %>
      <div>
        <%= trip.date %>
      </div>
      <% end %>
    <% end %>
        
      
      <% @trips.each do |t|%> 
        <ul>
          <li> 
            <%= link_to "#{t.date}", trip_path(t) %>
          </li>
        </ul> 
      <% end %>
      <div>
        <% if !user_signed_in? %>
        <%= link_to "Login", new_user_session_path %>
        <% end %>
      </div>
      <div>
        <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
