<%# #Create a page that displays all of a given trips details %>


  <ul>
    <li> Date - <%= @trip.date %> </li>
    <li> Location - <%= @trip.location %> </li>
    <li> Trip Length - <%= @trip.trip_length %> </li>
    <li> Boat Type - <%= @trip.boat_type %> </li>
    <li> Price - <%= @trip.price %> </li>
    <li> Passengers - <%= @trip.passengers %> </li>
  </ul>

  <%# Client info %>