
<h2>Date - <%= "#{@trip.date}" %></h2>
  <ul>
    
    <li> Location - <%= @trip.location %> </li>
    <li> Start Time - <%= @trip.start_time %></li>
    <li> End Time - <%= @trip.end_time %></li>
    <li> Boat Name - <%= @trip.boat.name %> </li>
    <li> Price - $<%= @trip.price %> </li>
    <li> Passengers - <%= @trip.passengers %> </li>
  </ul>

<h2> Client Info </h2>
  <ul>
    <li><%= @client.name %></li>
    <li><%= @client.email %></li>
    <li><%= @client.phone_number %></li>
  </ul>

<div class="btn btn-secondary"><%= link_to "Edit", edit_trip_path(@trip) %></div>
<div class="btn btn-secondary"><%= link_to "Delete", @trip, :method => :delete, :confirm => "Are you sure ?"%></div>