<div id="tripDetails">
<h2>Date - <%= "#{@trip.date}" %></h2>
  <ul>
    <li> Location - <%= @trip.location %> </li>
    <li> Start Time - <%= @trip.start_time %></li>
    <li> End Time - <%= @trip.end_time %></li>
    <li> Price - $<%= @trip.price %> </li>
    <li> Passengers - <%= @trip.passengers %> </li>
  </ul>
<% if @client %>
<h2> Client Info </h2>
  <ul>
    <li><%= @client.name %></li>
    <li><%= @client.email %></li>
    <li><%= @client.phone_number %></li>
  </ul>
  
  <% end %>
  
</div>