
<h2><%= "#{@trip.date}" %></h2>
  <ul>
    <li>Start Time - <%= @trip.start_time %></li>
    <li> Location - <%= @trip.location %> </li>
    <li> Trip Length - <%= @trip.trip_length %> </li>
    <li> Boat Type - <%= @trip.boat_type %> </li>
    <li> Price - <%= @trip.price %> </li>
    <li> Passengers - <%= @trip.passengers %> </li>
  </ul>

<h2> Client Info </h2>
  <ul>
    <li><%= @client.name %></li>
    <li><%= @client.email %></li>
    <li><%= @client.phone_number %></li>
  </ul>

  <%= link_to "Edit", edit_trip_path(@trip) %>
  <%= link_to "Delete", @trip, :method => :delete, :confirm => "Are you sure ?"%>