<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Boat Name</th>
      <th>Type</th>
      <th>Capacity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="boatList">
  <% @boats.each do |boat|%> 
    <tr>
      <td><%= "#{boat.name}" %></td>
      <td><%= "#{boat.boat_type}" %></td>
      <td><%= "#{boat.capacity}" %></td>
      <td><%= link_to 'Edit', edit_boat_path(boat), class: "btn btn-primary" %>
      </td>
      <td><%= link_to "Delete", boat_path(boat), class: "btn btn-primary", data: {:confirm => "Are you sure?"}, method: :delete %></td>
      <td><button class="current-bookings-btn btn btn-primary" data-id="<%= boat.id %>">Current Trips</button></td>
    </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('.current-bookings-btn').on('click', function() {
      let id = $(this).data("id");
      $.get("/boats/" + id , function(data) {
        let boat = data;
        $("#info-" + id).text(boat["trips"]["date"])
      })
    })
  })
</script>

