
  <ul>
    <li><%= @boat.boat_type %></li>
    <li><%= @boat.name %></li>
    <li><%= @boat.capacity %></li>
  </ul>

<%= link_to "Edit Boat", edit_boat_path(@boat) %>
<%= link_to "Delete", @boat, :method => :delete, :confirm => "Are you sure ?"%>